.heroBanner {
  background-color: var(--ifm-background-color) !important;
  padding: 6rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2.4rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.infoItems {
  display: flex;
  align-items: center;
  padding: 2.4rem 0;
  width: 100%;
  color: var(--ifm-hero-text-color);
}

.benefitSvg {
  height: 200px;
  width: 200px;
}

.faqItem {
  text-align: center;
}

.howItWorksSvg {
  height: 75%;
  width: 75%;
  padding: 1rem;
}


@media screen and (max-width: 996px) {
  .howItWorks {
    text-align: center;
  }
}
